//Colors//
$orange: rgb(213, 150, 108);
$black: rgb(21, 21, 21);
$gray: rgb(68, 68, 68);
$white: rgb(255, 255, 255);

//Typography//

//Font Sizes//

$fs-hd-xl: 96px;
$fs-hd-l: 70px;
$fs-hd-m: 60px;
$fs-hd-s: 36px;

$fs-bd-m: 22px;
$fs-bd-s: 18px;

//Font Family//

$ff-hd: "Big Shoulders Display";

$ff-bd: "Outfit";

//Line Spacing//

$ls-xl: 88px;
$ls-l: 70px;
$ls-m: 50px;
$ls-s: 36px;
$ls-bd-med: 32px;
$ls-bd-small: 28px;
