.image-hero-m {
  width: 100%;
}

.head-block__heading {
  font-family: "Big Shoulders Display";
  font-size: 60px;
  font-weight: 900;
  line-height: 55px;
  padding: 2rem 1rem 2rem 1rem;
}

.head-block__text {
  font-family: "Outfit";
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  padding: 2rem 1rem 2rem 1rem;
}

.button-container {
  padding: 2rem 1rem 6.5rem 1rem;
}

.head-block__button:hover {
  cursor: pointer;
}

.head-block__button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
  width: 260px;
  height: 72px;
  border: 1px solid black;
  background: linear-gradient(to right, rgb(21, 21, 21) 0%, rgb(21, 21, 21) 78%, rgb(213, 150, 108) 78%, rgb(213, 150, 108) 100%);
  color: rgb(255, 255, 255);
}

.head-block__btn-text {
  font-family: "Big Shoulders Display";
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 800;
}

.head-block__btn-arrow {
  padding-right: 15px;
}

.mid-block-container {
  padding: 0 1rem 7.5rem 1rem;
}

.mid-block__heading {
  font-family: "Big Shoulders Display";
  font-size: 50px;
  font-weight: 900;
  line-height: 45px;
  padding: 1.5rem 0rem 1.5rem 0rem;
}

.mid-block__heading--white {
  font-family: "Big Shoulders Display";
  font-size: 50px;
  font-weight: 900;
  line-height: 45px;
}

.mid-block__text {
  font-family: "Outfit";
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  padding: 0 0rem 2rem 0rem;
}

.mid-block__text--white {
  font-family: "Outfit";
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}

.mid-block__image {
  width: 100%;
}

.mid-block__image-2 {
  padding: 0 0 1rem 0;
  width: 100%;
}

.mid-block__image-3 {
  padding: 0 0 1rem 0;
  width: 100%;
}

.mid-block__heading--white {
  padding: 2.9rem 2.3rem 3.2rem 2.3rem;
}

.mid-block__text--white {
  padding: 0 2.5rem 3.5rem 2.5rem;
  line-height: 28px;
}

.footer-container {
  padding: 0 1rem 0 1rem;
}

.footer__logo {
  padding: 3rem 2rem 3rem 2rem;
}

.footer__text {
  padding: 0 2rem 2rem 2rem;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}

.footer__icons {
  display: flex;
  gap: 1rem;
  padding: 0 0 3rem 2rem;
}

.footer {
  background-color: rgb(21, 21, 21);
  color: rgb(255, 255, 255);
  font-family: "Outfit";
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}

@media (min-width: 0) {
  .image-hero-tb {
    display: none;
  }
  .image-hero-dt {
    display: none;
  }
  .map__img-tb {
    display: none;
  }
  .map__img-dt {
    display: none;
  }
  .mid-block__image-tb-1 {
    display: none;
  }
  .mid-block__image-tb-2 {
    display: none;
  }
  .mid-block__image-tb-3 {
    display: none;
  }
  .mid-block__image-dt-1 {
    display: none;
  }
  .mid-block__image-dt-2 {
    display: none;
  }
  .mid-block__image-dt-3 {
    display: none;
  }
  .head-block__black-bg {
    display: none;
  }
  .icons-dark {
    display: none;
  }
}
@media (min-width: 480px) {
  .image-hero-tb {
    display: none;
  }
  .image-hero-dt {
    display: none;
  }
  .map__img-tb {
    display: none;
  }
  .map__img-dt {
    display: none;
  }
  .mid-block__image-tb-1 {
    display: none;
  }
  .mid-block__image-tb-2 {
    display: none;
  }
  .mid-block__image-tb-3 {
    display: none;
  }
  .mid-block__image-dt-1 {
    display: none;
  }
  .mid-block__image-dt-2 {
    display: none;
  }
  .mid-block__image-dt-3 {
    display: none;
  }
  .head-block__black-bg {
    display: none;
  }
}
@media (min-width: 720px) {
  .head-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .head-block__heading-black {
    display: none;
  }
  .head-block__heading,
.head-block__text-button-container {
    padding-top: 10rem;
    margin-left: -3rem;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .head-block__text-button-container {
    padding-top: 18rem;
  }
  .image-hero-m {
    display: none;
  }
  .mid-block-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text-1 img-1" "img-2 img-3" "img-2 text-2";
    gap: 1rem;
    padding: 1rem 1rem 1rem 1rem;
  }
  .text-container--white {
    grid-area: text-1;
  }
  .mid-block-bottom-container {
    grid-area: text-2;
  }
  .mid-block__image {
    display: none;
  }
  .mid-block__image-2 {
    display: none;
  }
  .mid-block__image-3 {
    display: none;
  }
  .image-hero-tb {
    display: block;
  }
  .mid-block__image-tb-1 {
    display: block;
    grid-area: img-1;
    width: 100%;
  }
  .mid-block__image-tb-2 {
    display: block;
    grid-area: img-2;
    width: 100%;
    height: 100%;
  }
  .mid-block__image-tb-3 {
    display: block;
    grid-area: img-3;
    width: 100%;
  }
  .footer-container {
    padding: 0;
  }
  .footer {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    padding: 0;
  }
  .footer__text {
    padding-top: 2rem;
  }
  .footer__icons {
    padding-top: 2rem;
  }
  .footer__icons img {
    height: 20px;
    width: 20px;
  }
  .map__img {
    display: none;
  }
  .map__img-tb {
    display: block;
    width: 100%;
  }
  .top-container {
    min-width: 720px;
  }
  .mid-container {
    display: flex;
    gap: 5rem;
  }
  .mid-container > .title {
    margin-left: 2rem;
  }
  .mid-text-container {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
  }
  .bottom-container {
    display: flex;
    justify-content: space-evenly;
  }
  .bottom-container > .text {
    font-size: 16px;
    margin-top: 1rem;
    flex-basis: 40%;
  }
  .icons > .icon {
    display: none;
  }
  .icons-dark {
    display: flex;
    gap: 20px;
    margin-top: 1rem;
  }
  .icons-dark > .icon-dark {
    height: 20px;
    width: 20px;
  }
  .icon-dark:hover {
    cursor: pointer;
  }
}
@media (min-width: 960px) {
  .main-wrapper {
    max-width: 1200px;
  }
  .head-block {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(4, 200px);
  }
  .head-block .head-block__black-bg {
    display: block;
    background-color: black;
    width: 100%;
  }
  .head-block .head-block__heading {
    color: white;
    font-size: 96px;
    line-height: 86px;
    padding-top: 10rem;
    padding-left: 7.2rem;
    white-space: nowrap;
  }
  .head-block .head-block__black-bg,
.head-block .head-block__heading {
    grid-row: 1/5;
    grid-column: 1/3;
    z-index: 1;
  }
  .head-block .head-block__text-button-container {
    grid-column: 5/7;
    grid-row: 1/4;
    padding-left: 5rem;
    padding-top: 8.5rem;
    width: 400px;
  }
  .mid-block-bottom-container {
    height: 100%;
  }
  .image-hero-tb {
    display: none;
  }
  .mid-block__image-tb-1 {
    display: none;
  }
  .mid-block__image-tb-2 {
    display: none;
  }
  .mid-block__image-tb-3 {
    display: none;
  }
  .image-hero-dt {
    display: block;
  }
  .mid-block__image-dt-1 {
    display: block;
    grid-area: img-1;
    width: 100%;
  }
  .mid-block__image-dt-2 {
    display: block;
    grid-area: img-2;
    width: 100%;
    height: 100%;
  }
  .mid-block__image-dt-3 {
    display: block;
    grid-area: img-3;
    width: 100%;
    height: 100%;
  }
  .map__img-tb {
    display: none;
  }
  .map__img-dt {
    display: block;
    width: 100%;
  }
  .top-container {
    max-width: 1400px;
  }
  .mid-container {
    max-width: 1400px;
  }
  .bottom-container {
    max-width: 1400px;
  }
}
.container {
  margin: auto auto;
  padding: 5rem;
}

.top-container {
  position: relative;
  min-width: 375px;
}

.map__img {
  width: 100%;
}

.button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
  width: 260px;
  height: 72px;
  border: 1px solid black;
  background: linear-gradient(to left, rgb(21, 21, 21) 0%, rgb(21, 21, 21) 78%, rgb(213, 150, 108) 78%, rgb(213, 150, 108) 100%);
  color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 0;
}

.button:hover {
  cursor: pointer;
}

.btn__text {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 800;
  font-family: "Big Shoulders Display";
  margin-right: 0.5rem;
}

.btn__icon {
  margin-right: 0.5rem;
}

.mid-container {
  background-color: black;
  min-width: 375px;
  padding: 3rem 1rem 3rem 1rem;
}

.title {
  font-family: "Big Shoulders Display";
  font-weight: 900;
  font-size: 50px;
  line-height: 45px;
  color: rgb(255, 255, 255);
  padding-bottom: 3rem;
}

.sub-title {
  color: rgb(213, 150, 108);
  font-family: "Big Shoulders Display";
  font-weight: 900;
  font-size: 32px;
  line-height: 32px;
  padding-bottom: 1.5rem;
}

.text {
  color: rgb(255, 255, 255);
  font-family: "Outfit";
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 1rem;
}

.bottom-container {
  background-color: rgb(213, 150, 108);
  min-width: 375px;
  padding: 1rem;
}

.bottom-container > .text {
  color: black;
  padding-bottom: 3rem;
}

.logo {
  padding: 3rem 0 3rem 0;
}

.icons {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-wrapper {
  min-width: 375px;
  margin: 0 auto;
}

.text-container--black {
  background: rgb(21, 21, 21);
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 900;
}/*# sourceMappingURL=styles.css.map */