@import "variables";
@import "head-block";
@import "mid-block";
@import "footer";
@import "breakpoints";
@import "map-top-section";
@import "map-mid-section";
@import "map-bottom-section";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-wrapper {
  min-width: 375px;
  margin: 0 auto;
}

.text-container--black {
  background: $black;
  color: $white;
  font-size: 50px;
  font-weight: 900;
}
